html,
body {
  overflow-x: hidden;
  overflow-y: hidden;
}

html,
body,
canvas,
img,
h1,
#title,
#up,
#right,
#down,
#left, {
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

body {
  position: relative;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  background: none;
  padding: 0;
  border: none;
  font-weight: 900;
}

#fadeOut {
  position: absolute;
  top: 0;
  opacity: 100%;
  width: 100%;
  height: 100%;
  background-color: black;
  animation: fadeOut 1s linear 0s forwards;
  pointer-events: none;
  touch-action: none;
  user-select: none;
  z-index: 2;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#gameWrapper {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#blackScreen,
#game {
  width: auto;
  height: 49%;
  position: absolute;
  top: 2%;
  border-radius: 5%;
  background-color: black;
}

#blackScreen {
  min-width: 68%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  touch-action: none;
  user-select: none;
}

#title {
  position: absolute;
  font-size: 100%;
  color: white;
  margin: 0;
  opacity: 0%;
  top: 44%;
  transform: scale(1);
  animation: fadeIn 0.3s linear 1.5s forwards;
  z-index: 3;
  touch-action: none;
  user-select: none;
}

#background {
  max-width: 100%;
  max-height: 100%;
  pointer-events: none;
  touch-action: none;
  user-select: none;
  z-index: 1;
}

#controls {
  pointer-events: none;
}

#up,
#right,
#down,
#left {
  position: absolute;
  width: 15%;
  height: 10%;
  z-index: 5;
}

#right,
#left {
  transform: rotate(90deg);
}

#up {
  top: 53.6%;
  left: 16.3%;
}

#right {
  top: 61.8%;
  left: 31%;
}

#down {
  top: 70%;
  left: 16.3%;
}

#left {
  top: 61.8%;
  left: 1.5%;
}

#zoom {
  position: fixed;
  bottom: -10px;
  right: -10px;
  width: 100px;
  height: 50px;
  font-size: 15px;
  white-space: nowrap;
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 10px 20px 20px 10px;
  visibility: hidden;
  z-index: 6;
}

@media (min-width: 400px), (min-height: 960px) {
  #title {
    font-size: 200%;
  }

  #zoom {
    visibility: visible;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

@keyframes fadeOut {
  from {
    opacity: 100%;
  }

  to {
    opacity: 0%;
  }
}
