html,
body,
div,
svg,
img {
  user-select: none;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

html,
body {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  user-select: none;
  background-color: #181a1b;
}

#tommyman {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 20%;
  height: auto;
  max-width: 200px;
  max-height: 200px;
  overflow: visible;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: rotate(0deg);
  transition: transform 30s ease-out, opacity 1s ease-in-out;
  opacity: 0;
}

#sprite {
  width: 100%;
}

#graphic {
  width: 100%;
  height: 100%;
}
