html,
body {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100vw;
  height: 100vh;
  user-select: none;
}

#tommyman {
  position: absolute;
  width: 200px;
  height: 200px;
  object-fit: fill;
}
