.app {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #000, #999);
}

.content {
  display: flex;
  height: 35%;
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cloudyman,
.tommyman {
  height: 100%;
  object-fit: contain;
}

.link {
  height: 100%;
}

.text {
  width: 20%;
  padding-left: 2%;
  font-family: monospace;
  font-size: calc(2vmin + 2vw);
  font-weight: 300;
  color: #999;
  text-align: left;
  -webkit-font-smoothing: auto;
}
